@import '../variables.scss';

.v-navigation-drawer {
    background: $background!important;
}

.v-app-bar-title__content {
    width: auto!important;
}

.main-container {
    margin-top: 40px!important;
}